import init.p1-common.rc
import init.p1.usb.rc

on init
    export EXTERNAL_STORAGE /storage/sdcard0
    mkdir /storage/sdcard0 0000 root root
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard

on boot

    setprop ro.build.product p1c
    setprop ro.product.device p1c

on fs
    mount_all /fstab.p1c

